.Slides_Container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 4rem;
}

.Slides_Container h4 {
  font-size: 30px;
  color: var(--Lightgray);
}

.Slides_Container h2 {
  font-size: 70px;
  color: var(--mainColor);
  margin: 0.8rem 0;
  position: relative;
  margin-left: 1.5rem;
  line-height: 1.2;
}

.Slides_Container h2::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 100%;
  background-color: var(--NavbarBgColor);
  top: 0;
  left: -23px;
  z-index: 10;
}

.Slides_Container p {
  color: var(--Lightgray);
}
