.EcoButtonXqe {
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
}

.ShopButton {
  background: none;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.View-Cart-Button {
  background-color: var(--NavbarBgColor);
  color: var(--mainColor);
  width: 50%;
  border: none;
  margin-right: 1rem;
}
