.EcoButtonXqe {
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
}

.ShopButton {
  background: none;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.View-Cart-Button {
  background-color: var(--NavbarBgColor);
  color: var(--mainColor);
  width: 50%;
  border: none;
  margin-right: 1rem;
}

.Keep_Shopping {
  padding: 0.4rem 1rem;
  margin-top: 0.7rem !important;
  background-color: var(--TabActiveBarColor);
  color: var(--mainColor);
  margin-right: 1rem;
}

.CheckOutButton {
  padding: 0.4rem 1rem;
  margin-top: 0.7rem !important;
  background-color: var(--NavbarBgColor);
  color: var(--mainColor);
}

.Add_to_cart {
  background-color: var(--NavbarBgColor);
  color: var(--mainColor);
  padding: 1rem 4rem;
  border-radius: 0;
  font-weight: 600;
}

.FullWidthDiv {
  max-width: 400px;
  margin: auto;
}

.AddToCard_PopupButton {
  color: var(--mainColor);
  background-color: var(--SideBarBgColor);
  border-radius: 0;
  width: 100%;
  box-shadow: 2px 10px 10px #3a38388a;
  transition: all 0.2s ease;
}

.AddToCard_PopupButton:hover {
  background-color: var(--NavbarBgColor);
}

.Continue_shopping_Button {
  padding: 0.9rem 2rem;
  cursor: pointer;
  margin-top: 2rem;
  border: 1px solid var(--SideBarBgColor);
  background-color: transparent;
  border-radius: 0 !important;
  margin-right: 1rem;
}
