.Category__Div {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--Lightgray);
  cursor: pointer;
}

.Category__Div:hover {
  background-color: var(--TabActiveBarColor);
  transition: all 0.3s ease;
}

.Category__Div:hover p {
  color: var(--MainColor);
}

.Category__Div p {
  color: var(--Gray);
  font-weight: 500;
}

.Active_Category {
  background-color: var(--TabActiveBarColor);
}

.Active_Category p {
  font-weight: 700;
  color: var(--MainColor);
}
