.Products_Cards__Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.Products_Card_Inner {
  width: 350px;
  height: 450px;
  border: 1px solid var(--borderColor);
  margin: 0 0.5rem;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.Products_Card_Inner:hover {
  border: 1px solid var(--NavbarBgColor);
}
.New_Products {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 75px;
  height: 35px;
  border: 2px solid var(--NavbarBgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--NavbarBgColor);
  transform: scale(0.8);
}
.Product_Image_Div {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Products_Card_Inner img {
  width: 250px;
  height: auto;
}

.Products_Container_div h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: var(--ProductsHeadingColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

.Products_Container_div .Price_Div {
  display: flex;
  align-items: center;
}
.Price_Div p {
  margin-right: 0.5rem;
}
.Sale_Price {
  font-size: 1.2rem;
  color: var(--NavbarBgColor);
  font-weight: 700;
}
.Ragular_Price {
  color: var(--RagulrPlace);
  font-size: 1rem;
  font-weight: 500;
}

.Products_Icons_div {
  position: absolute;
  top: 0;
  right: -60px;
  width: 20%;
  height: 100%;
  display: grid;
  place-content: center;
  transition: all 0.3s ease;
}

.Products_Card_Inner:hover .Products_Icons_div {
  right: 0;
}

.Products_Icons_div i {
  cursor: pointer;
  color: var(--Gray);
  margin: 1rem 0;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.Products_Icon_Inner_Div {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px #e1e1e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0;
  transition: all 0.3s ease;
}

.Products_Icon_Inner_Div:hover {
  background-color: var(--NavbarBgColor);
}

.Products_Icons_div i:hover {
  color: var(--mainColor);
}

.Products_Notification_Bar {
  width: 350px;
  height: 70px;
  z-index: 300;
  bottom: 20px;
  position: fixed;
  right: -400px;
  background-color: var(--mainColor);
  box-shadow: 0 0 10px #a1a1a1;
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  align-items: center;
  transition: all 0.3s ease;
}

.showNOtifictionBar {
  right: 20px;
  transition: all 0.3s ease;
}

.Products_Notification_Img_Div {
  width: 100px;
  height: 100%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Products_Notification_Img_Div img {
  width: auto;
  height: 100%;
}
