@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bangers', cursive;
  font-family: 'Poppins', sans-serif;
}

/* Colors */
:root {
  --NavbarBgColor: #ed1d24;
  --SideBarBgColor: #1b1b1b;
  --NewProductsColor: #56ea31;
  --OffColor: #db1b21;
  --BorderColor: #e3e3e3;
  --TabSecondColor: #2d2d2f;
  --TabActiveBarColor: #1b1b1b;
  --MainColor: #fff;
  --Gray: rgb(98, 98, 98);
  --IconsColor: rgb(56, 56, 56);
  --Lightgray: #e6e6e6;
  --mainColor: #fff;
  --borderColor: #d1d1d1;
  --RagulrPlace: #bbbbbb;
  --ProductsHeadingColor: #505050;
}

/* glogbal Classes */
a {
  text-decoration: none;
}

.Container {
  max-width: 1500px;
  margin: auto;
}

.padding_One {
  padding: 30px 0;
}
